.no-select {
  /*Prevents the user from selecting text*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

body {
  text-align: center;
  background-image: url("cloudsTile.jpg");
  z-index: 1;
  font-weight: bold;
  font-size: 20px;
}

body * {
  z-index: 20;
}

input:focus, input:active{
  outline: 0px;
}


.divBtn {
  border-radius: 16px;
  border: 1px solid lightgrey;
  display: inline-block;
  padding: 2px 6px 2px 6px;
  cursor: pointer;
  background-color: white;
}

.divBtn:active {
  background-color: lightgrey;
}

tr, th {
  text-align: center;
}

#day12hour1, #humidityHeader {
  margin-top: 18px;
  font-size: 24px;
  margin-bottom: 16px;
  min-width: 412px;
  padding-left: 0px;
  padding-right: 0px;
}

#times12hour{
  min-width: 412px;
}

#inputContainer {
  min-width: 824px;
  margin-top: 24px;
}

td, th, p {
  background-color: rgba(255, 255, 255, 0.15);
}

#col12hour {
  background-color: none;
}

#severeConditions p {
  font-size: 22px;
}

#severeHeader{
  margin-top: 48px;
  font-size: 24px;
}

#humidity p {
  margin-top: 0px;
  margin-bottom: 0px;
}
